*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    overflow: hidden;
}

.caja{
    height: 50px;
}
#caja1{
    background-color: brown;
    width: 50%; /* La caja es en bloque es decir la caja es el 1005 pero solo se pinta la mitad */
}
#caja2{
    background-color: blue;
}
#caja3{
    background-color: green;
}
#elementosInline{
    height: 400px;
}

#elemnetosInline img{

    float: left;
    width: 25%;
    
}

#sectionAbsoluta{
    height: 300px;
    background-color: blueviolet;
    width: 100%;
}
